<div class="positionChoosingPanel">
    <button class="primaryButtonLeft">
        <div class="leftPrimaryButtonIconContainer"><p>❮</p></div>
        <div><p>Left</p></div>
    </button>
    <button class="primaryButton"><p>Accept</p></button>
    <button class="primaryButtonRight">
        <div><p>Right</p></div>
        <div class="rightPimaryButtonIconContainer"><p>❯</p></div>
    </button>
</div>