<div class="mainMenu">
    <div class="gameLogo">
        <img src="/assets/online-crokinole-logo.svg" alt="Online Crokinole"/>
        <p>Online Crokinole</p>
    </div>
    <ul class="menuItems">
        <li><button>Play online</button></li>
        <li><button>Local game</button></li>
        <li><button>How to play</button></li>
    </ul>
</div>