<div class="scoreBoard">
    <div class="leftPlayerData">
        <div class="playerPawn circle grad0-ora0-pur50">
            <p>9</p>
        </div>
        <div class="playerBar">
            <div class="playerTagBar grad0-ora0-pur100">
                <p>Orange</p>
            </div>
            <div class="playerScoreBar grad0-pur0-ora100">
                <p>100</p>
            </div>
            <div class="playerRounds">
                <div class="round"></div>
                <div class="roundWon"></div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="rightPlayerData">
        <div class="playerBar">
            <div class="playerRounds">
                <div class="round"></div>
                <div class="round"></div>
            </div>
            <div class="playerScoreBar grad0-pur0-ora100">
                <p>80</p>
            </div>
            <div class="playerTagBar grad0-ora0-pur100">
                <p>Purple</p>
            </div>
        </div>
        <div class="playerPawn circle grad180-pur0-ora50">
            <p>10</p>
        </div>
    </div>
</div>