<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Online Crokinole</title>
    <!-- Link to the last version of BabylonJS -->
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <!-- Link to the last version of BabylonJS GUI -->
    <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
    <!-- Link to the last version of BabylonJS loaders to enable loading filetypes such as .gltf -->
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <!-- Link to pep.js to ensure pointer events work consistently in all browsers -->
    <script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>
    <!-- Link to earcut - a dependency of Babylon Polygon Builder -->
    <script src="https://unpkg.com/earcut@2.1.1/dist/earcut.min.js"></script>
    <!-- Cannon.js physics engine -->
    <script src="cannon.js"></script>
    <!-- Game logic -->
    <script src="main.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="loadingScreen">
        <div class="lds-hourglass"></div>
    </div>
    <canvas id="game"></canvas>
</body>
</html>