@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Online Crokinole</title>
    <partial name="_Scripts.cshtml" />
    <partial name="_Styles.cshtml" />
    <partial name="_Assets.cshtml" />
</head>
<body>
    <div id="loadingScreen">
        <img id="game-logo" src="/assets/online-crokinole-logo.svg" alt="Online Crokinole">
    </div>
    <div id="choosePosition">
        <partial name="_ScoreBoard.cshtml" />
        <partial name="_ChoosePosition.cshtml" />
    </div>
    <canvas id="game"></canvas>
    <div id="fps">0</div>
</body>
</html>