.positionChoosingPanel {
    position: absolute;
    bottom: 2vh;
    display: grid;
    grid-template-columns: auto 30vh auto;
    align-items: center;
    justify-items: center;
    width: 100vw;
}

.positionChoosingPanel > :first-child {
    justify-self: end;
}

.positionChoosingPanel > :last-child {
    justify-self: start;
}

.positionChoosingPanel p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (orientation: portrait) {
    .positionChoosingPanel {
        justify-items: center;
        grid-template-columns: auto;
        grid-row-gap: 2vh;
    }

    .positionChoosingPanel > :first-child {
        justify-self: center;
    }

    .positionChoosingPanel > :last-child {
        justify-self: center;
    }
}